<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DesignVine: Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />    </head>
    <body>
        <h1>Login</h1>

        <form action="/user/login" method ="POST">

        <div>
            <input type="text" id ="email" name = "email" placeholder = "E-Mail" required />
        </div>
        <div>
            <input type="text" id ="password" name = "password" placeholder = "Password" required />
        </div>

        <div>
            <input type="submit" value ="Login"/>
        </div>
        <a href="/users/register"> Not yet registered? Register here</a>
        </form>
        
    </body>
</html>